@page
@model MascotaFeliz.App.Presentacion.Pages.EditPropietarioModel
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/editStyle.css" />
    <title>Editar datos del Propietario - Mascota Feliz</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>


<body>

    <header>
        <a id="nav_header_logo" asp-page="/RegisterPages/vetView"><img src="/lib/logoMascFeliz.png"
                alt="Logo Mascota Feliz" />
        </a>
        <a id="nav_header_text" asp-page="/RegisterPages/vetView">
            <h1>Mascota Feliz</h1>
        </a>

        <nav class="navbar">
            <ul class="nav_menu">
                <li><a id="nav_header_visit" asp-page="/RegisterPages/visitRegister">Registro Visitas</a></li>
                <li><a id="nav_header_petregister">Historial de Registros</a>
                    <ul class="nav_submenu">
                        <li><a href="/RegisterPages/MascotasReg">Mascotas</a></li>
                        <li><a href="/RegisterPages/PropietarioReg">Propietarios</a></li>
                        <li><a href="/RegisterPages/List">Veterinarios</a></li>
                        <li><a href="/RegisterPages/VisitasReg">Visitas</a></li>
                    </ul>
                </li>
                <li><a id="nav_header_profile" href="#">Perfil</a></li>
            </ul>

        </nav>

    </header>

    <main>

        <h1>EDICIÓN DATOS PROPIETARIO:</h1>

        <form method="post">
            <input type="hidden" asp-for="Propietario.Id" />
            <div class="form-group">
                <label asp-for="Propietario.Identificacion">Identificacion: </label>
                <input asp-for="Propietario.Identificacion" class="form-control">
                <span class="text-danger" asp-validation-for="Propietario.Identificacion"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propietario.Nombre" id="name-propietary-prop">Nombre: </label>
                <input asp-for="Propietario.Nombre" class="form-control">
                <span class="text-danger" asp-validation-for="Propietario.Nombre"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propietario.Apellidos" id="lastname-propietary">Apellidos: </label>
                <input asp-for="Propietario.Apellidos" class="form-control">
                <span class="text-danger" asp-validation-for="Propietario.Apellidos"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propietario.Telefono" id="phone-propietary">Telefono: </label>
                <input asp-for="Propietario.Telefono" class="form-control">
                <span class="text-danger" asp-validation-for="Propietario.Telefono"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propietario.Direccion" id="address-propietary">Direccion: </label>
                <input asp-for="Propietario.Direccion" class="form-control">
                <span class="text-danger" asp-validation-for="Propietario.Direccion"></span>
            </div>
            <button type="submit" class="btn btn-primary" id="save_form">Grabar</button>
        </form>

        <p class="p-separator-up"></p>
        <a asp-page="./PropietarioReg" class="btn-default">Regresar a la lista de Propietarios </a>
        <p class="p-separator-down">ㅤ</p>

    </main>

    <footer>
        <article>
            <p>© 2021 - Designed and Developed by InMotion</p>
        </article>
    </footer>

</body>