@page
@model MascotaFeliz.App.Presentacion.Pages.VetViewModel
@{
    Layout = null;
    ViewData["Title"] = "Veterinario";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mascota Feliz</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/vetStyle.css" />
    
</head>

<body>
    <header>
        <a id="nav_header_logo" asp-page="/vetView"><img src="/lib/logoMascFeliz.png" alt="Logo Mascota Feliz"/>
        </a>
        <a id="nav_header_text" asp-page="/vetView">
            <h1>Mascota Feliz</h1>
        </a>

        <nav class="navbar">
            <ul class="nav_menu">
                <li><a id="nav_header_visit" asp-page="/RegisterPages/visitRegister">Registro Visitas</a></li>
                <li><a id="nav_header_petregister">Historial de Registros</a>
                    <ul class="nav_submenu">
                        <li><a href="/RegisterPages/MascotasReg">Mascotas</a></li>
                        <li><a href="/RegisterPages/PropietarioReg">Propietarios</a></li>   
                        <li><a href="/RegisterPages/List">Veterinarios</a></li>
                        <li><a href="/RegisterPages/VisitasReg">Visitas</a></li>
                    </ul>
                </li>
                <li><a id="nav_header_profile" href="#">Perfil</a></li>
            </ul>

        </nav>

    </header>

    <main>

        <article class="main_article">
            <p>
                <b>Mascota Feliz</b> es un servicio de<br>
                veterinaria a domicilio, contamos con un<br>
                equipo de profesionales capacitados<br>
                para examinar y diagnosticar a su<br>
                mascota, darle recomendaciones de<br>
                prevención de enfermedades, mejorar su<br>
                calidad de vida y tratar las enfermedades<br>
                con un respectivo diagnostico y<br>
                formulación de medicamentos.
            </p>
        </article>

        <div class="slider-frame">
            <ul>
                <li><img src="/lib/vet1.jpg" alt="Veterinaria con gato" /></li>
                <li><img src="/lib/vet2.jpg" alt="Veterinaria con perro" /></li>
                <li><img src="/lib/vet3.jpg" alt="Veterinarios con un perro" /></li>
                <li><img src="/lib/vet4.jpg" alt="Un perro y un gato" /></li>
            </ul>
        </div>

    </main>

    <footer>
        <article>
            <p><i>© 2021 - Designed and Developed by InMotion</i></p>
        </article>
    </footer>

</body>

</html>
