<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mascota Feliz</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/vetStyle.css" />
    @RenderSection("Styles", false)
</head>

<body>
    <header>
        <a id="nav_header_logo" asp-page="/_Layout.cshtml"><img src="/lib/logoMascFeliz.png" alt="Logo Mascota Feliz"/>
        </a>
        <a id="nav_header_text" asp-page="/_Layout.cshtml">
            <h1>Mascota Feliz</h1>
        </a>

        <nav>
            <a id="nav_header_petregister" asp-page="/html/PetRegister.html">Registro de Mascotas</a>
            <a id="nav_header_profile" asp-page="/RegisterPages/VetView">Login</a>
            <link rel="icon" href="icoMascFeliz.ico" />
        </nav>
    </header>

    <main role="main">
        @RenderBody()

        <article class="main_article">
            <p>
                <b>Mascota Feliz</b> es un servicio de<br>
                veterinaria a domicilio, contamos con un<br>
                equipo de profesionales capacitados<br>
                para examinar y diagnosticar a su<br>
                mascota, darle recomendaciones de<br>
                prevención de enfermedades, mejorar su<br>
                calidad de vida y tratar las enfermedades<br>
                con un respectivo diagnostico y<br>
                formulación de medicamentos.
            </p>
        </article>

        <div class="slider-frame">
            <ul>
                <li><img src="/lib/vet1.jpg" alt="Veterinaria con gato" /></li>
                <li><img src="/lib/vet2.jpg" alt="Veterinaria con perro" /></li>
                <li><img src="/lib/vet3.jpg" alt="Veterinarios con un perro" /></li>
                <li><img src="/lib/vet4.jpg" alt="Un perro y un gato" /></li>
            </ul>
        </div>

    </main>

    <footer>
        <article>
            <p><i>© 2021 - Designed and Developed by InMotion</i></p>
        </article>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>


</html>
